 

 * {
	  background-image: url(https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=2000);

 }


body 
{
	width: 600px;
}


img 
{
	width: 300px;
	height: 300px;
}



